html, body {
    height: 100%;
    overflow: auto;
}
body {
    padding: 0;
    margin: 0;
    background-color: black;
}
div.navigation {
    position: fixed;
    top: 10px;
    left: 10px;
    display: none;
    background-color: White;
    padding: 0px 10px;
    border: 1px solid #111111;
    box-shadow: #333 2px 2px 2px;
    border-radius: 5px;
    min-width: 120px;
}
div.playerContainer {
    width: 100%;
    height: 100%;
}
div.playerContainer video {
    height: 100%;
    max-height: 100%;
    max-width: 100%;
}
div.playerContainer audio {
    width: 100%;
}
.fadeSome {
    opacity:0.30;
    filter:alpha(opacity=30);
}
.fadeLots {
    opacity:0.50;
    filter:alpha(opacity=50);
}  
.fadeCompletely {
    opacity:0.0;
    filter:alpha(opacity=0);
}     
#silverlightControlHost {
    height: 100%;
}
object {
    position: absolute;
    outline: none;
}