@using efVideoTube.Models;
@model VideoModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Title</title>
    <script src="@Url.Content(string.Format("{0}://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js", Request.IsSecureConnection ? "https" : "http"))" type="text/javascript"></script>
    <script src="http://releases.flowplayer.org/5.2.1/flowplayer.min.js" type="text/javascript"></script>
    <link href="http://releases.flowplayer.org/5.2.1/skin/minimalist.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="flowplayer" data-swf="@Url.Content("~/Content/flowplayer.swf")" data-engine="flash">
       <video autoplay>
           <source type="video/flash" src="@Model.Url" />
       </video>
    </div>
</body>
</html>

