@using efVideoTube.Models;
@model MediaModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Title</title>
    <link href="@Url.Content("~/Content/Player.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="audioContainer">
        <audio controls autoplay src="@Model.Url">
        </audio>
    </div>
</body>
</html>

